body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  background-color: rgb(255, 165, 0)
}

button {
  width: 25vw;
  height: 25vh;
  font-size: 3em;
  background-color: rgb(255,0,90);
  transition: 0.3s;
}

button:hover {
  width: 40vw;
  height: 40vh;
  font-size: 6em;
  background-color: rgb(0,255,165);
}